<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <context-param>
        <param-name>JDONREFv3JSON</param-name>
        <param-value>http://10.213.92.233:8080/JDONREFv3JSON</param-value>
    </context-param>
    <servlet>
        <servlet-name>Normalise</servlet-name>
        <servlet-class>ppol.test.Normalise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Valide</servlet-name>
        <servlet-class>ppol.test.Valide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Revalide</servlet-name>
        <servlet-class>ppol.test.Revalide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Geocode</servlet-name>
        <servlet-class>ppol.test.Geocode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contacte</servlet-name>
        <servlet-class>ppol.test.Contacte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Normalise</servlet-name>
        <url-pattern>/Normalise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Valide</servlet-name>
        <url-pattern>/Valide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Revalide</servlet-name>
        <url-pattern>/Revalide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Geocode</servlet-name>
        <url-pattern>/Geocode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contacte</servlet-name>
        <url-pattern>/Contacte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
