<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>JDONREFwsdl</param-name>
        <param-value>http://localhost/JDONREFv3/JDONREF?wsdl</param-value>
    </context-param>
    <context-param>
        <param-name>JDONREFuri</param-name>
        <param-value>http://jdonref.ppol/</param-value>
    </context-param>
    <context-param>
        <param-name>JDONREFservice</param-name>
        <param-value>JDONREFService</param-value>
    </context-param>
    <servlet>
        <servlet-name>Contacte</servlet-name>
        <servlet-class>ppol.jdonref.json.Contacte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Decoupe</servlet-name>
        <servlet-class>ppol.jdonref.json.Decoupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Geocode</servlet-name>
        <servlet-class>ppol.jdonref.json.Geocode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVersion</servlet-name>
        <servlet-class>ppol.jdonref.json.GetVersion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Normalise</servlet-name>
        <servlet-class>ppol.jdonref.json.Normalise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Revalide</servlet-name>
        <servlet-class>ppol.jdonref.json.Revalide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Valide</servlet-name>
        <servlet-class>ppol.jdonref.json.Valide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reverse</servlet-name>
        <servlet-class>ppol.jdonref.json.Reverse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contacte</servlet-name>
        <url-pattern>/Contacte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decoupe</servlet-name>
        <url-pattern>/Decoupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Geocode</servlet-name>
        <url-pattern>/Geocode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVersion</servlet-name>
        <url-pattern>/GetVersion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Normalise</servlet-name>
        <url-pattern>/Normalise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Revalide</servlet-name>
        <url-pattern>/Revalide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Valide</servlet-name>
        <url-pattern>/Valide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reverse</servlet-name>
        <url-pattern>/Reverse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
